<div *ngIf="customer">
  <div>
    <label>First Name: </label> {{customer.firstname}}
  </div>
  <div>
    <label>Last Name: </label> {{customer.lastname}}
  </div>
  <div>
    <label>Address: </label> {{customer.address}}
  </div>
  <div>
    <label>Phone Number: </label> {{customer.phone}}
  </div>
  <div>
    <label>Active: </label> {{customer.active}}
  </div>

  <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Yes</span>

  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Yes</span>

  <hr/>
</div>